<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
	<body>
					<div class = 'pane'>
					<h1>{{ingredient.name}}<h1>

		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

		{% if items !=[] %}
							<a href = "{{url_for('newRecipeItem', ingredient_id = ingredient_id)}}">Create New Item</a>
				</br></br>

		{% endif %}
					</div>
	</body>

</html>
